---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header>
    <h1>Alejo Ortega</h1>
  </header>

  <main>
    <p>Soy desarrollador web</p>

    <div class="justify-evenly">
      <a href="mailto://alejo1898ortega@gmail.com" target="_blank">Email</a>

      <a href="https://linkedin.com/in/alejo-ortega" target="_blank">
        LinkedIn
      </a>

      <a href="https://github.com/alejo-ortega" target="_blank">GitHub</a>

      <a href="https://x.com/alejo-ortega" target="_blank"> X</a>
    </div>
  </main>

  <footer>
    <p>Mendoza, Argentina — {new Date().getFullYear()}</p>
  </footer>
</Layout>

<style>
  .justify-evenly {
    display: flex;
    justify-content: space-evenly;
  }
</style>
